@media only screen and (min-width:992px) and (max-width:1200px) {
    .banner-iner {
        padding: 220px 0 240px;
        text-align: center;
    }

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .carousel-control.left {
        left: -28px;
        top: -22px;
    }

    .carousel-control.right {
        right: -20px;
        top: -6px;
    }

    .testimonals-img {
        margin-right: 20px;
        width: 177px;
    }

    .coments01 {
        bottom: 6%;
    }

    .trusted-thousands01-slider {
        display: inline-block;
        float: none;
        margin: 70px 0;
        text-align: center;
        width: 83%;
    }
}

@media only screen and (min-width:767px) and (max-width:991px) {
    .trusted-thousands01-slider {
        display: inline-block;
        float: none;
        margin: 70px 0;
        text-align: center;
        width: 83%;
    }

    .header-in-right .collapse.navbar-collapse {
        background: rgba(0,0,0,0);
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .conversational01-bottom img {
        width: 250px;
    }

    .conversational01-bottom-left img {
        width: 275px;
    }

    .banner-iner {
        padding: 180px 15px 97px;
        text-align: center;
    }

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .carousel-control.left {
        left: 0;
        top: -22px;
    }

    .carousel-control.right {
        right: 0;
        top: -6px;
    }

    .testimonals-img {
        margin-right: 30px;
        width: 203px;
    }

    .testimonals-in-right {
        float: left;
        margin-top: 21px;
        text-align: left;
        width: 66%;
    }

    .tesnimonilas-iner {
        margin-bottom: 70px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 65px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 42px;
    }

    .bot-works-inner h2,.conversational01-inner h2 {
        font-size: 35px;
    }

    .baner-learnmore {
        padding: 16px 60px;
    }

    .slect-team01 select {
        padding: 18px 60px 16px 23px;
    }

    .bot-works-main {
        padding: 40px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
        width: 40%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left {
        text-align: center;
    }

    .bot-works-bottom-left img {
        width: 72%;
        float: none;
        display: inline-block;
    }

    .conversational01-main {
        padding: 40px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 20px;
    }

    .copy-right-out {
        padding: 20px 15px;
    }

    footer {
        padding: 60px 0 51px;
    }
}

@media only screen and (min-width:620px) and (max-width:766px) {
    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .conversational01-bottom div {
        width: 50%;
    }

    .first-footernav {
        padding-left: 0;
        width: 20%;
    }

    .banner-iner {
        padding: 165px 15px 150px;
        text-align: center;
    }

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
        text-align: center;
    }

    .testimonals-img,.testimonals-in-right,.testimonals-in-right h6 {
        float: none;
        display: inline-block;
    }

    .carousel-control.left {
        left: 366px;
        top: 110px;
        display: none;
    }

    .carousel-control.right {
        right: 345px;
        display: none;
        top: 110px;
    }

    .testimonals-img {
        margin-right: 0;
        width: 203px;
    }

    .testimonals-in-right {
        margin-top: 21px;
        width: 85%;
        text-align: center;
    }

    .testimonals-in-right h6 {
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .iner-part-copy p {
        font-size: 14px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 32px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 32px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 14px 53px;
    }

    .slect-team01 select {
        padding: 15px 62px 13px 23px;
        font-size: 15px;
    }

    .bot-works-inner h2,.conversational01-inner h2,.trusted-thousands01-inner h2 {
        font-size: 30px;
    }

    .bot-works-main {
        padding: 32px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
        width: 40%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 21px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 32px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 85%;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 60px 0 51px;
    }

    .slect-team01 {
        background-position: 173px 2px;
        background-size: 22% auto;height: 51px;
        width: 222px;vertical-align: top;
    }
	.btn-primary {
  height: 51px;
  }
}

@media only screen and (min-width:480px) and (max-width:619px) {
	.btn-primary {
  height: 47px;
 }
    .banner-iner,.item>a,.social-icons {
        text-align: center;
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .banner-iner {
        padding: 141px 15px 110px;
    }

    .item>a {
        float: left;
        margin: 0 1%;
        width: 18%;
    }

    .carousel-control.left {
        left: 230px;
        top: 110px;
        display: none;
    }

    .trusted-thousands01-slider {
        margin: 70px 0 40px;
    }

    .carousel-control.right {
        right: 230px;
        display: none;
        top: 110px;
    }

    .testimonals-img {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: 203px;
    }

    .social-icons {
        float: left;
        width: 100%;
    }

    .social-icons li {
        float: none;
        margin-right: 8px;
        width: auto;
        display: inline-block;
    }

    .first-footernav {
        float: left;
        margin-bottom: 20px;
        text-align: left;
        width: 32%;
    }

    .testimonals-in-right {
        float: none;
        margin-top: 21px;
        width: 85%;
        display: inline-block;
        text-align: center;
    }

    .testimonals-in-right h6 {
        display: inline-block;
        float: none;
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .iner-part-copy p {
        font-size: 14px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 32px 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 30px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 14px 53px;
    }

    .slect-team01 select {
        padding: 15px 62px 13px 23px;
        font-size: 15px;
    }

    .bot-works-inner h2,.conversational01-inner h2,.trusted-thousands01-inner h2 {
        font-size: 28px;
    }

    .bot-works-main {
        padding: 32px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        text-align: right;
        width: 54%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 21px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 32px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 70%;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 53px 0 20px;
    }

    .slect-team01 {
        background-position: 173px 2px;
        background-size: 22% auto;
        width: 222px;height:47px;
    }
	.lern01-out {
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
}

    .bot-works-inner {
        padding: 0 7px;
    }
}

@media only screen and (max-width:479px) {
    .banner-iner,.item>a,.social-icons {
        text-align: center;
    }

    .navbar-collapse,.navbar-collapse.collapse.in {
        background: #000;
        border-radius: 4px;
    }

    .item>a {
        display: inline-block;
        float: none;
        margin: 0 1%;
        min-height: 49px;
        width: 30%;
    }

    .banner-iner {
        padding: 126px 15px 75px;
    }

    .carousel-control.left {
        left: 230px;
        top: 60px;
        display: none;
    }

    .carousel-control.right {
        right: 196px;
        top: 60px;
        display: none;
    }

    .trusted-thousands01-slider {
        float: left;
        margin: 40px 0;
        width: 100%;
    }

    .testimonals-img {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: 203px;
    }

    .social-icons {
        float: left;
        width: 100%;
    }

    .social-icons li {
        float: none;
        margin-right: 8px;
        width: auto;
        display: inline-block;
    }

    .first-footernav {
        float: left;
        margin-bottom: 20px;
        text-align: left;
        width: 49%;
    }

    .testimonals-in-right {
        float: none;
        margin-top: 21px;
        width: 85%;
        display: inline-block;
        text-align: center;
    }

    .testimonals-in-right h6 {
        display: inline-block;
        float: none;
        font-size: 15px;
        font-weight: 400;
        margin: 14px 0 0;
    }

    .first-footernav li a {
        font-size: 12px;
    }

    .coments01>img {
        cursor: pointer;
        width: 40%;
        float: right;
    }

    .iner-part-copy p {
        font-size: 13px;
    }

    .tesnimonilas-iner {
        margin-bottom: 65px;
    }

    .footer-iner {
        padding: 0 15px;
    }

    .trusted-thousands01-main {
        padding: 40px 0 0;
    }

    .coments01 {
        bottom: 6%;
    }

    .heder-iner01 {
        padding: 0 15px;
    }

    .banner-iner h2 {
        font-size: 30px;
    }

    .banner-iner p {
        font-size: 15px;
    }

    .baner-learnmore {
        font-size: 15px;
        padding: 10px 53px;
    }

    .slect-team01 select {
        font-size: 15px;
        padding: 12px 62px 8px 23px;
    }

    .bot-works-main {
        padding: 30px 0;
    }

    .navbar-collapse.collapse.in {
        width: 100%;
    }

    .col-xs-8.pad_none.header-in-right {
        float: right;
        position: absolute;
        text-align: right;
        width: 100%;
    }

    .navbar-inverse .navbar-nav>li>a {
        width: 100%;
    }

    .bot-works-bottom-right {
        padding: 39px 10px 0;
        text-align: left;
    }

    .bot-works-bottom-left,.firt-testimonils {
        text-align: center;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    .bot-works-inner h2 {
        font-size: 30px;
    }

    .bot-works-bottom-right li a {
        font-size: 16px;
        margin: 0;
        padding: 0 0 0 30px;
    }

    .bot-works-bottom-part {
        padding: 0 3%;
    }

    .bot-works-bottom-left img {
        display: inline-block;
        float: none;
        width: 52%;
    }

    .conversational01-main {
        padding: 24px 0;
        width: 100%;
    }

    .conversational01-inner {
        text-align: center;
        padding: 0 15px;
    }

    .conversational01-inner h2 {
        font-size: 23px;
    }

    .conversational01-bottom img,.conversational01-bottom-left img {
        width: 70%;
    }

    .trusted-thousands01-inner h2 {
        font-size: 25px;
    }

    .firt-testimonils {
        float: left;
        width: 100%;
    }

    .copy-right-out {
        padding: 13px 15px;
    }

    .conversational01-bottom-left {
        margin: 0 0 50px;
    }

    footer {
        padding: 53px 0 20px;
    }

    .slect-team01 {
        background-position: 170px -2px;
        background-size: 22% auto;
        width: 215px;height: 47px;
    }

    .testimonals-img img {
        width: 70%;
    }

    .lern01-out {
        display: inline-block;
        float: none;
        margin-right: 0;
        width: auto;height: 47px;
        margin-bottom: 16px;
    }
	.btn-primary {
  height: 47px;
 }
}