body,h1,h2,h3,h4,h5,h6,li,ol,p,ul {
    margin: 0;
    padding: 0;
}

.pad_none,body {
    padding: 0;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
}

li,ol,ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

input {
    outline: 0 !important;
    border: none !important;
}

button:focus,input:focus,select:focus,textarea:focus {
    outline: 0;
}

header {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 99;
}

.navbar-fixed-bottom,.navbar-fixed-top {
    background: 0 0 !important;
    border: none !important;
    left: 0;
    position: static;
    right: 0;
}

.col-xs-8.pad_none.header-in-right {
    text-align: right;
}

.banner-iner,.bot-works-inner {
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    border-bottom: 2px solid transparent;
    color: #fff;
    float: left;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all .5s ease 0;
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.baner-learnmore,.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    transition: all .5s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background: #ec3636;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    opacity: 1;
    border-radius: 6px;
}

.collapse.navbar-collapse {
    float: right;
}

.banner-outer-main {
    float: left;
    width: 100%;
    background: url(../img/banner01.jpg) center top no-repeat;
    position: relative;
    background-size: cover;
}

.banner-iner {
    padding: 260px 0 280px;
}

.banner-iner h2 {
    font-size: 56px;
    color: #fff;
    font-family: robotothin;
    font-weight: 400;
}

.banner-iner p {
    font-size: 17px;
    color: #fff;
    font-family: robotolight;
    font-weight: 400;
    margin: 14px 0 30px;
}

.baner-learnmore,.slect-team01 select {
    font-family: robotobold;
    text-transform: capitalize;
}

.lern01-out {
    display: inline-block;
    float: none;
    width: auto;/* height: 60px; */
    margin-right: 6px;
}

.banners-buttons-outer {
    float: left;
    width: 100%;
    text-align: center;
}

.btn-primary {
    display: inline-block;
    /* background: #ec3636; */
    height: 60px;
    padding: 0 60px;color: #383838;
    font-size: 20px;border:none;
    border-radius: 6px;
    box-shadow: 0 5px 0 #727071;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,e6e6e6+63,d9d9d9+100 */
background: #f4f4f4; /* Old browsers */
background: -moz-linear-gradient(top, #f4f4f4 0%, #e6e6e6 63%, #d9d9d9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f4f4f4 0%,#e6e6e6 63%,#d9d9d9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f4f4f4 0%,#e6e6e6 63%,#d9d9d9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
}

.btn-primary:hover {
    text-decoration: none;
    color: #383838;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9d9d9+0,e6e6e6+37,f4f4f4+100 */
background: #d9d9d9; /* Old browsers */
background: -moz-linear-gradient(top, #d9d9d9 0%, #e6e6e6 37%, #f4f4f4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d9d9 0%,#e6e6e6 37%,#f4f4f4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d9d9d9 0%,#e6e6e6 37%,#f4f4f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
    transition: all .5s ease;
   /*  box-shadow: 0 5px 0 #ec3636; */
}

.slect-team01 {
    float: none;
    background-image: url(../img/select-bg.png);
    background-repeat: no-repeat;
    background-position: 218px 0;height: 60px;
    box-shadow: 0 5px 0 #9e0e0d;
    display: inline-block;
    width: 280px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color:#ec3636;
    /* background-color: -moz-linear-gradient(top,#f3f3f3 0,#e5e5e5 47%,#d7d7d7 100%);
    background-color: -webkit-linear-gradient(top,#f3f3f3 0,#e5e5e5 47%,#d7d7d7 100%);
    background-color: linear-gradient(to bottom,#f3f3f3 0,#e5e5e5 47%,#d7d7d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3',endColorstr='#d6d6d6',GradientType=0); */
}

.copy-right-out,footer {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242a31',endColorstr='#48525b',GradientType=1);
}

.slect-team01 select {
 background:transparent; 
    border: none;
    padding: 17px 60px 17px 28px;
    width: 100%;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bot-works-main {
    float: left;
    width: 100%;
    background: #fff;
    padding: 90px 0;
}

.bot-works-inner h2 {
    font-size: 42px;
    color: #000;
    font-family: robotothin;
    font-weight: 400;
}

.bot-works-bottom-right p,.bot-works-inner p {
    font-family: robotolight;
    color: #2a2a2a;
    font-size: 17px;
    font-weight: 400;
}

.bot-works-inner p {
    margin: 14px 0 30px;
}

.bot-works-bottom-part {
    padding: 53px 10% 0;
}

/* .bot-works-bottom-left img {
    width: 100%;
} */

.bot-works-bottom-right {
    padding: 0 0 0 50px;
    text-align: left;
}

.bot-works-bottom-right p {
    margin: 0;
}

.bot-works-bottom-right ul {
    float: left;
    width: 100%;
    text-align: left;
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

.conversational01-inner,.trusted-thousands01-inner {
    text-align: center;
}

.bot-works-bottom-right li {
    float: left;
    margin-bottom: 6px;
    width: 100%;
}

.bot-works-bottom-right li a span {
    color: #2a2a2a;
    float: left;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 0 11px;
    text-decoration: none;
    vertical-align: middle;
    width: 80%;
}

.conversational01-main {
    float: left;
    width: 100%;
    background: #f0f0f0;
    padding: 90px 0;
}

.conversational01-bottom img,.conversational01-bottom-left img {
    width: 90%;
}

.bot-works-bottom-part li a img {
    float: left;
}

.conversational01-inner h2 {
    font-size: 42px;
    color: #000;
    font-family: robotothin;
    font-weight: 400;
}

.conversational01-inner p {
    color: #2a2a2a;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    margin: 14px 0 0;
}

.conversational01-bottom {
    padding-top: 70px;
}

.conversational01-bottom-left {
    margin: 45px 0 0;
}

.trusted-thousands01-main {
    background: #fff;
    float: left;
    padding: 90px 0;
    width: 100%;
    position: relative;
}

.carousel-control.left,.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}

.trusted-thousands01-inner h2 {
    color: #000;
    font-family: robotothin;
    font-size: 42px;
    font-weight: 400;
}

.trusted-thousands01-slider {
    float: left;
    width: 100%;
    margin: 70px 0;
}

.coments01 {
    bottom: 20%;
    position: absolute;
    right: 0;
}

.coments01>img {
    width: 81%;
    cursor: pointer;
}

.trusted-thousands01-slider ul {
    list-style: none;
    text-align: center;
}

.trusted-thousands01-slider li {
    float: none;
    display: inline-block;
}

.item>a {
    float: left;
    margin: 0 1%;
}

.glyphicon-chevron-left,.glyphicon-chevron-right {
    height: 35px !important;
    margin-top: -20px !important;
    width: 38px !important;
}

.carousel-control.left {
    left: -33px;
}

.carousel-control.right {
    left: auto;
    right: -38px;
}

.trusted-thousands01-slider li a {
    text-decoration: none;
}

.glyphicon-chevron-left {
    background: url(../img/left-icon.png) center -6px no-repeat rgba(0,0,0,0);
    margin-left: -105px !important;
}

.glyphicon-chevron-right {
    background: url(../img/right-icon.png) center -6px no-repeat rgba(0,0,0,0);
    margin-right: -100px !important;
}

.glyphicon-chevron-left::before {
    content: "";
    display: none;
}

.glyphicon-chevron-right::before {
    content: "";
    display: none;
}

.firt-testimonils {
    float: left;
    width: 100%;
}

.testimonals-img {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.comma-right01 {
    margin: 8px 8px 0;
}

.testimonals-img img {
    width: 100%;
}

.testimonals-in-right {
    float: left;
    margin-top: 10px;
    text-align: left;
    width: 56%;
}

.testimonals-in-right p {
    color: #2a2a2a;
    font-family: robotolight;
    font-size: 17px;
    font-weight: 400;
    margin: 14px 0 0;
}

.testimonals-in-right h6 {
    color: #ed3d3f;
    float: left;
    font-family: robotoregular;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0 0;
    text-transform: capitalize;
}

.testimonals-in-right h6 span {
    color: #8a8a8a;
    float: left;
    font-family: robotoitalic;
    font-size: 13px;
    font-weight: 400;
    margin: 5px 0 0;
    text-transform: capitalize;
    width: 100%;
}

.comma-left01 {
    margin: -11px 11px 0 0;
}

. .comma-right01 {
    margin: 6px 0 0 10px;
}

footer {
    float: left;
    width: 100%;
    padding: 70px 0 0;
    background: #242a31;
    background: -moz-linear-gradient(left,#242a31 2%,#353c44 47%,#48525b 100%);
    background: -webkit-linear-gradient(left,#242a31 2%,#353c44 47%,#48525b 100%);
    background: linear-gradient(to right,#242a31 2%,#353c44 47%,#48525b 100%);
}

.footer-iner {
    display: inline-block;
    padding-bottom: 65px;
    width: 100%;
}

.first-footernav {
    float: left;
    text-align: left;
    width: 20%;
}

.first-footernav h2 {
    color: #fff;
    font-family: robotobold;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.first-footernav li a,.iner-part-copy p {
    float: left;
    line-height: 28px;
    text-transform: capitalize;
}

.first-footernav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.first-footernav li {
    float: left;
    width: 100%;
}

.first-footernav li a {
    width: 100%;
    font-family: robotolight;
    font-size: 15px;
    color: #fff;
}

.social-icons {
    float: left;
    width: 100%;
}

.social-icons li {
    float: left;
    margin-right: 8px;
    width: auto;
}

.social-icons li a {
    text-decoration: none;
    width: auto;
}

.fecbook01:hover {
    color: #2c4176;
}

.twiter01:hover {
    color: #00a7e2;
}

.social-icons li .fa {
    font-size: 26px;
}

.linkdin01:hover {
    color: #04aee9;
}

.rss01:hover {
    color: #eb992d;
}

.copy-right-out {
    float: left;
    width: 100%;
    padding: 28px 0;
    border-top: 1px solid #50575f;
    background: #242a31;
    background: -moz-linear-gradient(left,#242a31 2%,#353c44 47%,#48525b 100%);
    background: -webkit-linear-gradient(left,#242a31 2%,#353c44 47%,#48525b 100%);
    background: linear-gradient(to right,#242a31 2%,#353c44 47%,#48525b 100%);
}

.iner-part-copy {
    text-align: left;
}

.iner-part-copy p {
    color: #fff;
    font-family: robotolight;
    font-size: 15px;
    width: 100%;
}